.overlay {
  height: 520px;
  width: 830px;
  background-color: #f9f9f9;
  margin-left: 315px;
  border-radius: 15px;
}
.overlay-content {
  height: 220px;
  width: 830px;
  background-color: #f9f9f9;
  border-radius: 15px;
}
.first-line {
  display: flex;
  justify-content: space-between;
}
#optional {
  font-size: small;
}

h4 {
  font-family: sans-serif;
  padding: 20px 0 0 40px;
  font-size: medium;
  font-weight: 600;
}
.first-row,
.second-row {
  width: 440px;
  display: flex;
  gap: 15px;
  margin: 30px 0 0 40px;
}
.submit-buttons {
  display: flex;
  justify-content: end;
  margin: 250px 30px 0 0;
  gap: 5px;
}

.cancel {
  border-radius: 8px;
  height: 34px;
  width: 130px;
  background-color: rgb(167, 167, 255);
  color: rgb(24, 2, 123);
}

.submit {
  border-radius: 8px;
  height: 34px;
  width: 130px;
  background-color: rgb(22, 22, 177);
  color: white;
}
h4 i {
  margin-left: 10px;
}
.advanced-config {
  margin-top: 30px;
}
input {
  width: 360px;
  height: 40px;
  border-radius: 7px;
  margin-top: 5px;
  border: 2px solid rgb(232, 226, 226);
}
